{% extends "layout.html" %}

{% block title %}{{todo.baslik}}{% endblock title %}

{% block content %}
<h2>Detay sayfası</h2>
 <div class="container">
         {% for todo in todo %}
        <img src="{{todo.resim.url}}" width="100%" height="500px" alt="...">
        <hr>
         <h2>{{todo.baslik}}</h2>
         <p>{{todo.aciklama}}</p>
         <hr>

         <a href="{% url "todo_edit_page" todo.slug %}" class="btn btn-warning">Düzenle</a>
         <a href="{% url "todo_delete_page" todo.slug %}" class="btn btn-danger">Sil</a>

         {% endfor %}
 </div>


{% endblock content %}